.comment-section {
  margin-top: 30px;
  background-color:#6163FF;
  border-radius: 5px;
}
.comment-section .comment-desc {
  height: 1%;
  overflow: hidden;
}
.comment-section .comment-desc .user-desv .userlinks {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  margin-bottom: 5px;
}
.comment-section .comment-desc .user-desv .user-name {
  font-size: 18px;
  color: #000000;
}
.comment-section .comment-desc .user-desv a {
  color: #24E5AF;
  font-size: 13px;
  text-decoration: none;
}
.comment-section .comment-desc .user-desv .muted-txt {
  color: #fff;
  font-size: 13px;
}
.comment-section .comment-desc .likes-sec {
  display: inline-block;
  vertical-align: top;
}
.comment-section .comment-desc .likes-sec img {
  width: 15px;
  height: 15px;
  vertical-align: top;
}
.comment-section .comment-desc .likes-sec a {
  font-size: 18px;
  color: #24E5AF;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.comment-section .comment-desc .comment {
  font-size: 22px;
  color: #000;
  margin-top: 5px;
}